@charset "UTF-8";
/*Variables et mixines*/
/*fond gris du site*/
.greybg {
  background-color: #f8f8f8;
}

/*Page principale*/
/*header*/
.logo {
  height: 30px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-self: center;
}

.lieu {
  display: flex;
  flex-direction: row;
  height: 50px;
  border: none;
  background-color: #ececec;
  justify-content: center;
  align-items: center;
  color: #474747;
}
.lieu__icone {
  margin-right: 15px;
}
.lieu__text {
  width: 115px;
}

.gradiant {
  background: linear-gradient(#b9b9b9, #ececec);
  height: 5px;
}

/*partie fonctionnement*/
.fonctionnement {
  display: grid;
  grid-template-columns: repeat(1, 4);
}
.fonctionnement__étape {
  display: flex;
  width: 90%;
  max-width: 400px;
  justify-self: center;
  align-items: center;
  margin-bottom: 25px;
  margin-left: 10px;
  height: 70px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 3px 10px 0px rgba(153, 153, 153, 0.75);
  -moz-box-shadow: 1px 3px 10px 0px rgba(143, 143, 143, 0.75);
  box-shadow: 1px 3px 10px 0px rgba(133, 133, 133, 0.75);
}
.fonctionnement__étape:hover {
  background-color: rgba(74, 2, 102, 0.151);
}
.fonctionnement__étape__title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 20px;
}

.point {
  display: flex;
  height: 30px;
  width: 38px;
  background-color: #9356DC;
  color: white;
  border-radius: 50px;
  align-items: center;
  margin-left: -15px;
  margin-right: 7%;
}
.point__txt {
  text-align: center;
}

.logos {
  margin-right: 7%;
  color: #636363;
}

/*parties restaurants*/
.restaurant {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-bottom: 50px;
  margin-top: 30px;
}
.restaurant__square {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 270px;
  border-radius: 20px;
  margin-bottom: 25px;
  justify-self: center;
  -webkit-box-shadow: 1px 3px 10px 0px rgba(153, 153, 153, 0.75);
  -moz-box-shadow: 1px 3px 10px 0px rgba(143, 143, 143, 0.75);
  box-shadow: 1px 3px 10px 0px rgba(133, 133, 133, 0.75);
}
.restaurant__image {
  height: 200px;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: flex-end;
}

.nouveau {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #99E2D0;
  width: 100px;
  height: 40px;
  margin-top: 15px;
  margin-right: 15px;
  padding-top: 10px;
  color: white;
  font-weight: bold;
  color: green;
}

.fa-heart {
  align-self: flex-end;
  margin-top: -35px;
  margin-right: 20px;
  font-size: 25px;
}
.fa-heart:hover {
  color: #9356DC;
}

.resto {
  background-image: url(img/restaurant1.jpg);
}
.resto__2 {
  background-image: url(img/restaurant2.jpg);
}
.resto__3 {
  background-image: url(img/restaurant3.jpg);
}
.resto__4 {
  background-image: url(img/restaurant4.jpg);
}

/*format PC*/
@media all and (min-width: 992px) {
  /*Partie fonctionnement*/
  .fonctionnement__title {
    margin-left: 0;
    width: 216px;
    justify-self: center;
  }

  .logos {
    font-size: 20px;
    margin-right: 40px;
    margin-left: 10px;
  }

  /*Partie Restaurants*/
  .restaurant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
  .restaurant__title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 150px;
    justify-self: center;
    margin-left: 0;
  }
  .restaurant__square {
    display: flex;
    height: 370px;
    max-width: 800px;
  }
  .restaurant__image {
    height: 300px;
  }
}
/*format tablette*/
@media all and (min-width: 768px) and (max-width: 992px) {
  /*partie fonctionnement*/
  .fonctionnement__title {
    width: 160px;
    margin-left: 0;
    justify-self: center;
  }

  /*partie restaurants*/
  .restaurant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
  .restaurant__title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 130px;
    justify-self: center;
    margin-left: 0;
  }
}
/*header*/
.header1 {
  display: grid;
  grid-template-columns: repeat(1, 5);
}

.heading {
  display: grid;
  grid-template-columns: repeat(1, 3);
}

/*footer*/
footer {
  background-color: #313131;
  color: white;
  height: 200px;
}

.footer {
  padding-left: 20px;
  list-style: none;
}
.footer__logo {
  padding-top: 20px;
  margin-bottom: 20px;
}
.footer__txt {
  margin-bottom: 7px;
}
.footer__fas1 {
  margin-right: 13px;
}
.footer__fas2 {
  margin-right: 10px;
  font-size: 13px;
}

/*Menus à la carte*/
.cartehead {
  display: flex;
  flex-direction: column;
  margin-bottom: -55px;
}
.cartehead__title {
  display: grid;
  grid-template-columns: repeat(1fr, 2);
}
.cartehead__logo {
  grid-row-start: 1;
  grid-column-start: 1;
  align-self: center;
}
.cartehead__arrow {
  margin-left: 25px;
  align-self: center;
  grid-column-start: 1;
  grid-row-start: 1;
}
.cartehead__img {
  z-index: -1;
  object-fit: cover;
  height: 300px;
  width: auto;
}

.cartemain {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.cartemain__head {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  width: 95%;
}
.cartemain__title {
  font-size: 20px;
  margin-top: 25px;
}
.cartemain__icon {
  margin-right: 40px;
}
.cartemain__underline {
  display: block;
  border: 1px solid #99E2D0;
  width: 40px;
  margin-top: 3px;
  margin-left: 20px;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list__square {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  margin-top: 15px;
  height: 60px;
  width: 95%;
  -webkit-box-shadow: 1px 3px 10px 0px rgba(153, 153, 153, 0.75);
  -moz-box-shadow: 1px 3px 10px 0px rgba(143, 143, 143, 0.75);
  box-shadow: 1px 3px 10px 0px rgba(133, 133, 133, 0.75);
}
.list__txt {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
}
.list__price {
  width: 50px;
}

/*format PC*/
@media (min-width: 992px) {
  .footer {
    padding-left: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
  .footer__fas1 {
    font-size: 22px;
    margin-right: 18px;
  }
  .footer__fas2 {
    font-size: 20px;
  }
  .footer__logo {
    font-size: 40px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 240px;
    justify-self: center;
  }
  .footer__1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 240px;
  }
  .footer__2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 240px;
  }
  .footer__3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 240px;
  }
  .footer__4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 240px;
  }
}
/*format tablette*/
@media (min-width: 768px) and (max-width: 992px) {
  .footer {
    padding-left: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, 50px);
  }
  .footer__fas1 {
    font-size: 22px;
    margin-right: 18px;
  }
  .footer__fas2 {
    font-size: 20px;
  }
  .footer__logo {
    font-size: 40px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 240px;
    justify-self: center;
  }
  .footer__1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 240px;
  }
  .footer__2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 240px;
  }
  .footer__3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 240px;
  }
  .footer__4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 240px;
  }
}
/*Skin bouton*/
.btn {
  width: 225px;
  height: 50px;
  background: #9356DC;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  align-self: center;
  justify-self: center;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 15px;
  margin-bottom: 50px;
  margin-top: 15px;
  -webkit-box-shadow: 1px 3px 10px 0px rgba(153, 153, 153, 0.75);
  -moz-box-shadow: 1px 3px 10px 0px rgba(143, 143, 143, 0.75);
  box-shadow: 1px 3px 10px 0px rgba(133, 133, 133, 0.75);
}
.btn:hover {
  background: linear-gradient(0deg, #bb85fd 0%, #f896dc 100%);
}

/*polices / textes*/
* {
  font-family: roboto;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
}

.bold {
  font-weight: bolder;
}

.vbold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
}

.titres {
  font-family: shrikhand;
}
.titres--center {
  text-align: center;
}

h1 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 80%;
  justify-self: center;
}

.soustitre {
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 10px;
  color: #494949;
}

h4 {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
  width: 50%;
}

.restaurant__square p {
  margin-left: 10px;
  font-size: 17px;
  margin-top: 5px;
  width: 50%;
}

.link {
  color: black;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.white {
  color: white;
}

h6 {
  font-size: 18px;
  padding-left: 20px;
  margin-top: 35px;
}

/*partie menus à la carte*/
.nomplat {
  font-size: 17px;
  font-weight: bold;
}

.accompagnement {
  padding-top: 3px;
  font-size: 16px;
  font-weight: lighter;
}

/*format PC*/
@media all and (min-width: 992px) {
  h1 {
    font-size: 34px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 21px;
    width: 180px;
  }

  .restaurant__square p {
    font-size: 19px;
    width: 130px;
  }

  .fonctionnement__txt {
    font-size: 18px;
  }

  .white {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
