
/*Skin bouton*/

.btn {
    background: $violet;
    background: linear-gradient(0deg, $violet 0%, $rose 100%);
    border-radius: 30px;
    border: none;
    color: white;
    transition: transform 400ms;
    @include boxshadow;
    &:hover {
        transform: scale(1.15);
        background: linear-gradient(0deg,  #bb85fd 0%, #f896dc 100%);
        }
        &__home {
            width: 225px;
            height: 50px;
            align-self: center;
            justify-self: center;
            font-size: 15px;
            margin-bottom: 50px;
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;            
        }
            &__menu {
                width: 180px;
                height: 45px;
                margin-top: 45px;
                margin-bottom: 80px;
                align-self: center;
                font-size: 16px;
            }
}

.btn__link {
    color: white;
    display: block;
}

/*retrait de l'outline*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

    /*Icone like*/

 .fa-heart {
    font-size: 50px;
    position: relative;
    color: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black; 
    
 }


 .fa-heart:hover {
    color: transparent;
    background-image: linear-gradient(45deg, rgba(8,255,239,1) 0%, rgba(8,255,239,1) 15%, rgba(28,51,255,1) 35%, rgba(255,8,197,1) 84%, rgba(255,8,197,1) 100%);
    background-image: -moz-linear-gradient(45deg, rgba(8,255,239,1) 0%, rgba(8,255,239,1) 15%, rgba(28,51,255,1) 35%, rgba(255,8,197,1) 84%, rgba(255,8,197,1) 100%);
    background-image: -webkit-linear-gradient(45deg, rgba(8,255,239,1) 0%, rgba(8,255,239,1) 15%, rgba(28,51,255,1) 35%, rgba(255,8,197,1) 84%, rgba(255,8,197,1) 100%);

    transition-duration: 3.5s;
    -moz-transition-duration: 3.5s;
    -o-transition-duration: 3.5s;
    -webkit-transition-duration: 3.5s;

    animation-name: heart;
    -moz-animation-name:  heart;
    -o-animation-name:  heart;
    -webkit-animation-name:  heart;

    animation-duration: 1s; 
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -webkit-animation-duration: 1s;

    -webkit-text-stroke-width: 0px;
 }

 .my-icon {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: auto;
    padding-top: 2.5px;

    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);

    transition: transform 550ms ease-out;
    -webkit-transform: 550ms ease-out;
    -moz-transform: 550ms ease-out;

        &:hover {
            transform: scale(3);
            -webkit-transform: scale(3);
            -moz-transform: scale(3);
}
}

@keyframes heart {
    0% {
       -webkit-text-stroke-width: 1.5px;
    }

    10% {
       -webkit-text-stroke-width: 1.4px;
    }

    20% {
       -webkit-text-stroke-width: 1.3px;
    }

    30% {
       -webkit-text-stroke-width: 1.1px;
    }

    40% {
       -webkit-text-stroke-width: 1px;
    }

    50% {
       -webkit-text-stroke-width: 0.8px;
    }
    60% {
       -webkit-text-stroke-width: 0.7px;
    }

    70% {
       -webkit-text-stroke-width: 0.6px;
    }

    80% {
       -webkit-text-stroke-width: 0.4px;
    }
    90% {
       -webkit-text-stroke-width: 0.2px;
    }

    100% {
       -webkit-text-stroke-width: 0px;
    }
}






/*PC*/

@media (min-width: 992px) {
    .btn {
        &__menu {
            margin-bottom: 105px;
            width: 230px;
            height: 55px;
        }
    }
}
