
/*Skin bouton*/

.btn {
    background: $violet;
    background: linear-gradient(0deg, $violet 0%, $rose 100%);
    border-radius: 30px;
    border: none;
    color: white;
    @include boxshadow;
    &:hover {
        background: linear-gradient(0deg,  #bb85fd 0%, #f896dc 100%);
        }
        &__home {
            width: 225px;
            height: 50px;
            align-self: center;
            justify-self: center;
            font-size: 15px;
            margin-bottom: 50px;
            margin-top: 15px;
        }
            &__menu {
                width: 180px;
                height: 45px;
                margin-top: 45px;
                margin-bottom: 80px;
                align-self: center;
                font-size: 16px;
            }
}

/*retrait de l'outline*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

    /*Icone like*/

 .fa-heart {
    font-size: 25px;
    stroke:black;
    stroke-width: 20px;
    color: white;
 }

 .fa-heart:hover {
    color: $violet;
    stroke-width: 0;
}

