
/*Skin bouton*/

.btn {
    background: $violet;
    background: linear-gradient(0deg, $violet 0%, $rose 100%);
    border-radius: 30px;
    border: none;
    color: white;
    transition: transform 400ms;
    @include boxshadow;
    &:hover {
        transform: scale(1.15);
        background: linear-gradient(0deg,  #bb85fd 0%, #f896dc 100%);
        }
        &__home {
            width: 225px;
            height: 50px;
            align-self: center;
            justify-self: center;
            font-size: 15px;
            margin-bottom: 50px;
            margin-top: 15px;
        }
            &__menu {
                width: 180px;
                height: 45px;
                margin-top: 45px;
                margin-bottom: 80px;
                align-self: center;
                font-size: 16px;
            }
}

/*retrait de l'outline*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

    /*Icone like*/

 .fa-heart {
    font-size: 25px;
    stroke:black;
    stroke-width: 20px;
    color: white;
 }

 .my-icon {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: auto;
    height: 40px;
    width: 50px;
    margin-top:-35px ;
    margin-right: 15px;
    transform: scale(1);
    transition: transform 550ms ease-out 100ms;
        &:hover {
            transform: scale(1.5);
}
}


.my-icon:hover svg * {
   fill: url(#lgrad);
   stroke-width: 0;
}


/*PC*/

@media (min-width: 992px) {
    .btn {
        &__menu {
            margin-bottom: 105px;
            width: 230px;
            height: 55px;
        }
    }

    .fa-heart{
        font-size: 30px;
    }
}
