
/*Skin bouton*/

.btn {
    background: $violet;
    background: linear-gradient(0deg, $violet 0%, $rose 100%);
    border-radius: 30px;
    border: none;
    color: white;
    transition: transform 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    -webkit-transition: 400ms;
    cursor: pointer;
    @include boxshadow;
    &:hover {
        transform: scale(1.15);
        -moz-transform: scale(1.15);
        -webkit-transform: scale(1.15);
        -o-transform: scale(1.15);
        background: linear-gradient(0deg,  #bb85fd 0%, #f896dc 100%);
        }
        &__home {
            width: 225px;
            height: 50px;
            align-self: center;
            justify-self: center;
            font-size: 15px;
            margin-bottom: 50px;
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;            
        }
            &__menu {
                width: 180px;
                height: 45px;
                margin-top: 45px;
                margin-bottom: 80px;
                align-self: center;
                font-size: 16px;
            }
}

.btn__link {
    color: white;
    display: block;
}

/*retrait de l'outline*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

    /*Icone like*/

 .fa-heart {
    font-size: 50px;
    position: relative;
    color: white;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-stroke-width: 1.5px;

    -webkit-text-stroke-color: black; 
    
 }


 .fa-heart:hover {
    color: transparent;
    background-image: linear-gradient(45deg, rgba(8,255,239,1) 0%, rgba(8,255,239,1) 15%, rgba(28,51,255,1) 35%, rgba(255,8,197,1) 84%, rgba(255,8,197,1) 100%);
    background-image: -moz-linear-gradient(45deg, rgba(8,255,239,1) 0%, rgba(8,255,239,1) 15%, rgba(28,51,255,1) 35%, rgba(255,8,197,1) 84%, rgba(255,8,197,1) 100%);
    background-image: -webkit-linear-gradient(45deg, rgba(8,255,239,1) 0%, rgba(8,255,239,1) 15%, rgba(28,51,255,1) 35%, rgba(255,8,197,1) 84%, rgba(255,8,197,1) 100%);

    transition-duration: 3.5s;
    -moz-transition-duration: 3.5s;
    -o-transition-duration: 3.5s;
    -webkit-transition-duration: 3.5s;

    animation-name: heart;
    -moz-animation-name:  heart;
    -o-animation-name:  heart;
    -webkit-animation-name:  heart;

    animation-duration: 1s; 
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -webkit-animation-duration: 1s;

    -webkit-text-stroke-width: 0px;
 }

 .my-icon {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: auto;
    padding-top: 2.5px;
    cursor: pointer;

    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);

    transition: transform 550ms ease-out;
    -webkit-transform: 550ms ease-out;
    -moz-transform: 550ms ease-out;

        &:hover {
            transform: scale(3);
            -webkit-transform: scale(3);
            -moz-transform: scale(3);
}
}

@keyframes heart {
    0% {
       -webkit-text-stroke-width: 1.5px;
    }

    10% {
       -webkit-text-stroke-width: 1.4px;
    }

    20% {
       -webkit-text-stroke-width: 1.3px;
    }

    30% {
       -webkit-text-stroke-width: 1.1px;
    }

    40% {
       -webkit-text-stroke-width: 1px;
    }

    50% {
       -webkit-text-stroke-width: 0.8px;
    }
    60% {
       -webkit-text-stroke-width: 0.7px;
    }

    70% {
       -webkit-text-stroke-width: 0.6px;
    }

    80% {
       -webkit-text-stroke-width: 0.4px;
    }
    90% {
       -webkit-text-stroke-width: 0.2px;
    }

    100% {
       -webkit-text-stroke-width: 0px;
    }
}


/*Spinner*/

.screen {
   position: fixed;
   z-index: 5;
   width: 100%;
   height: 100%;
   background: linear-gradient(45deg, $rose 0%, $violet 40%, $bleu 100%);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   animation: stop 0s;
   -moz-animation: stop 0s;
   -o-animation: stop 0s;
   -webkit-animation: stop 0s;

   animation-delay: 5s;
   -moz-animation-delay: 5s;
   -o-animation-delay: 5s;
   -webkit-animation-delay: 5s;

   animation-fill-mode: forwards;
   -moz-animation-fill-mode: forwards;
   -o-animation-fill-mode: forwards;
   -webkit-animation-fill-mode: forwards;
      &__title {
         width: 280px;
         margin-bottom: 50px;
         display: flex;
         flex-direction: row;
      }
         &__logo {
            font-family: shrikhand;
            font-size: 50px;
            animation: logo 2s ease-in-out infinite;
         }
}

.screen__logo:nth-child(1) {animation-delay: 0.2s;}
.screen__logo:nth-child(2) {animation-delay: 0.4s;}
.screen__logo:nth-child(3) {animation-delay: 0.6s;}
.screen__logo:nth-child(4) {animation-delay: 0.8s;}
.screen__logo:nth-child(5) {animation-delay: 1s;}
.screen__logo:nth-child(6) {animation-delay: 1.2s;}
.screen__logo:nth-child(7) {animation-delay: 1.4s;}
.screen__logo:nth-child(8) {animation-delay: 1.6s;}

.spinner {
   width: 70px;
   height: 70px;
   animation: spin 2s infinite ease-in-out both;
   -moz-animation: spin 2s infinite ease-in-out both;
   -o-animation: spin 2s infinite ease-in-out both;
   -webkit-animation: spin 2s infinite ease-in-out both;
}

.realdot {
   width: 20%;
   height: 20%;
   border-radius: 100%;
   background-color: white;

   animation: shrink 2s infinite ease-in-out both;
   -moz-animation: shrink 2s infinite ease-in-out both;
   -o-animation: shrink 2s infinite ease-in-out both;
   -webkit-animation: shrink 2s infinite ease-in-out both;
}

.dot {
   width: 100%;
   height: 100%;
   position: absolute;
   animation: dotspin 2s infinite ease-in-out 500ms both;
   -moz-animation: dotspin 2s infinite ease-in-out 500ms both;
   -o-animation: dotspin 2s infinite ease-in-out 500ms both;
   -webkit-animation: dotspin 2s infinite ease-in-out 500ms both;

   animation-delay: -0.7s;
   -moz-animation-delay: -0.7s;
   -o-animation-delay: -0.7s;
   -webkit-animation-delay: -0.7s;
}

.dot:nth-child(1){animation-delay: -0.6s;
                  -moz-animation-delay: -0.6s;
                  -o-animation-delay: -0.6s;
                  -webkit-animation-delay: -0.6s;
}

.dot:nth-child(2){animation-delay: -0.5s;
                  -moz-animation-delay: -0.5s;
                  -o-animation-delay: -0.5s;
                  -webkit-animation-delay: -0.5s;
}

.dot:nth-child(3){animation-delay: -0.4s;
                  -moz-animation-delay: -0.4s;
                  -o-animation-delay: -0.4s;
                  -webkit-animation-delay: -0.4s;
}

.dot:nth-child(4){animation-delay: -0.3s;
                  -moz-animation-delay: -0.3s;
                  -o-animation-delay: -0.3s;
                  -webkit-animation-delay: -0.3s;
}

.dot:nth-child(5){animation-delay: -0.2s;
                  -moz-animation-delay: -0.2s;
                  -o-animation-delay: -0.2s;
                  -webkit-animation-delay: -0.2s;
}

.dot:nth-child(6){animation-delay: -0.1s;
                  -moz-animation-delay: -0.1s;
                  -o-animation-delay: -0.1s;
                  -webkit-animation-delay: -0.1s;
}

@keyframes logo {
   0% { 
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -o-transform: translateY(0px);
      -moz-transform: translateY(0px);
      color: rgb(51, 51, 51);
   }

   50% {
      transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
   }

   100% {
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -o-transform: translateY(0px);
      -moz-transform: translateY(0px);
      color: white;
   }
}

@keyframes spin{
   100% { transform: rotate(360deg); 
         -moz-transform:rotate(360deg);
         -webkit-transform:rotate(360deg);
         -o-transform:rotate(360deg);
   }
}

@keyframes dotspin {
 100% { transform: rotate(360deg);
        -moz-transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
        -o-transform:rotate(360deg);
}
}

@keyframes shrink {
50% {
   transform: scale(0.5);
   -moz-transform:rotate(0.5);
   -webkit-transform:rotate(0.5);
   -o-transform:rotate(0.5);
}

100% {
   transform: scale(1);
   -moz-transform:rotate(1);
   -webkit-transform:rotate(1);
   -o-transform:rotate(1);
}
}

/*Retirer l'animation*/

@keyframes stop {
  from {
     visibility: visible;
  }

   to {
      visibility: hidden;
   }
}

/*PC*/

@media (min-width: 992px) {
    .btn {
        &__menu {
            margin-bottom: 105px;
            width: 230px;
            height: 55px;
        }
    }
}
