/*header*/

header {
    display: grid;
    grid-template-columns: repeat(1, 5);
      }

.heading {
  display: grid;
  grid-template-columns: repeat(1, 3);
}


/*footer*/

footer {
    background-color: rgb(49, 49, 49);
    color: white;
    height: 200px;
}


.footer {
    margin-left: 20px;
    list-style: none;
    &__logo {
        padding-top: 20px;
        margin-bottom: 20px;
    }
    &__txt {
        margin-bottom: 7px;
    }
    &__fas1 {
        margin-right: 13px;
    }
    &__fas2 {
        margin-right: 10px;
        font-size: 13px;
    }
}

/*format PC*/

@media (min-width: 992px) {
    .footer {
        margin-left: 20px;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: minmax(50px, 50px);
        &__fas1 {
            font-size: 22px;
            margin-right: 18px;
        }
        &__fas2 {
            font-size: 20px;
        }
        &__logo {
            font-size: 40px;
            grid-column-start:2 ;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 4;
            width: 240px;
            justify-self: center;
        }
        &__1 {
            grid-column-start:1 ;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            width: 240px;
        }
        &__2 {
            grid-column-start:1 ;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            width: 240px;
        }
        &__3 {
            grid-column-start:1 ;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
            width: 240px;
        }
        &__4{
            grid-column-start:1 ;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
            width: 240px;
        }
    }
}

/*format tablette*/

@media (min-width: 768px) and (max-width: 992px) {
    .footer {
        margin-left: 20px;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: minmax(50px, 50px);
        &__fas1 {
            font-size: 22px;
            margin-right: 18px;
        }
        &__fas2 {
            font-size: 20px;
        }
        &__logo {
            font-size: 40px;
            grid-column-start:2 ;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 4;
            width: 240px;
            justify-self: center;
        }
        &__1 {
            grid-column-start:1 ;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            width: 240px;
        }
        &__2 {
            grid-column-start:1 ;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            width: 240px;
        }
        &__3 {
            grid-column-start:1 ;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
            width: 240px;
        }
        &__4{
            grid-column-start:1 ;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
            width: 240px;
        }
    }
}
