/*header*/

.header1 {
    display: grid;
    grid-template-columns: repeat(1, 5);
      }

.heading {
  display: grid;
  grid-template-columns: repeat(1, 3);
}


/*footer*/

footer {
    background-color: rgb(49, 49, 49);
    color: white;
    height: 200px;
}


.footer {
    padding-left: 20px;
    list-style: none;
    &__logo {
        padding-top: 20px;
        margin-bottom: 20px;
    }
    &__txt {
        margin-bottom: 7px;
        width: 110%;
    }
    &__fas1 {
        margin-right: 13px;
    }
    &__fas2 {
        margin-right: 10px;
        font-size: 13px;
    }
}

/*Menus à la carte*/

.cartehead{
    display: flex;
    flex-direction: column;
    margin-bottom: -55px;
    &__title {
        display: grid;
        grid-template-columns: repeat(1fr ,2);
    }
        &__logo {
            grid-row-start: 1;
            grid-column-start: 1;
            align-self: center;
    }
            &__link {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                grid-column-start: 1;
                grid-row-start: 1;
                align-self: center;
                margin-left: 25px;
                color: black;
                &:hover {
                    color: $violet;
                    font-size: 20px;
                }
            }
                &__img {
                    z-index: -1;
                    object-fit: cover;
                    height: 300px;
                    width: auto;
                }
}


.cartemain {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    flex-direction: column;
    &__head {
        display: flex;
        flex-direction: row;
        padding-left: 25px;
        padding-right: 25px;
        justify-content: center;
    }
        &__title {
            font-size: 25px;
            margin-top: 25px;
    }
                &__icon {
                    margin-top: 30px;
                }
                    &__underline {
                    display: block;
                    border: 1px solid $bleu;
                    width: 40px;
                    margin-top: 3px;
                    margin-left: 20px;
            }
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    &__square {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        background-color: white;
        border-radius: 15px;
        margin-top: 15px;
        height: 65px;
        width: 95%;
        max-width: 600px;
        @include boxshadow;
    }
        &__txt{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-left: 10px;
        }
            &__price {
                width: 50px;
            }
                &__title {
                    max-width: 600px;
                    display: flex;
                    flex-direction: column;
                    justify-self : center;
                    align-self: center;
                }
}

/*format PC*/

@media (min-width: 992px) {

    /*Main (menus)*/

    .cartemain {
        &__title {
            text-align: center;
        }
    }

    .list__flex {
     display: flex;
     flex-direction: row;
     align-items: center;
    }

    .list {
        &__title {
           display: flex;
           flex-direction: column;
           max-width: 450px;
        }
        &__square {
            width: 95%;
            max-width: 450px;
            align-self: center;
        }
    }

    /*Bas de page*/

    .footer {
        padding-left: 20px;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: minmax(50px, auto);
        &__fas1 {
            font-size: 22px;
            margin-right: 18px;
        }
        &__fas2 {
            font-size: 20px;
        }
        &__logo {
            font-size: 40px;
            grid-column-start:2 ;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 4;
            width: 240px;
            justify-self: center;
        }
        &__1 {
            grid-column-start:1 ;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            width: 240px;
        }
        &__2 {
            grid-column-start:1 ;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            width: 240px;
        }
        &__3 {
            grid-column-start:1 ;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
            width: 240px;
        }
        &__4{
            grid-column-start:1 ;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
            width: 240px;
        }
    }
}

/*format tablette*/

@media (min-width: 768px) and (max-width: 992px) {
    .footer {
        padding-left: 20px;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: minmax(50px, 50px);
        &__fas1 {
            font-size: 22px;
            margin-right: 18px;
        }
        &__fas2 {
            font-size: 20px;
        }
        &__logo {
            font-size: 40px;
            grid-column-start:2 ;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 4;
            width: 240px;
            justify-self: center;
        }
        &__1 {
            grid-column-start:1 ;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            width: 240px;
        }
        &__2 {
            grid-column-start:1 ;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            width: 240px;
        }
        &__3 {
            grid-column-start:1 ;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
            width: 240px;
        }
        &__4{
            grid-column-start:1 ;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
            width: 240px;
        }
    }

    .list {
        &__square {
            max-width: 450px;
        }
            &__title {
                display: flex;
                flex-direction: column;
                width: 15%;
                align-self: center;
        }
    }
}
