/*header*/

.header1 {
    display: grid;
    grid-template-columns: repeat(1, 5);
      }

.heading {
  display: grid;
  grid-template-columns: repeat(1, 3);
}


/*footer*/

footer {
   height: 255px;
   background-color: rgb(49, 49, 49);
}

.footer {
    height: 275px;
    color: white;
    background-color: rgb(49, 49, 49);
    padding-top: 40px;
    padding-left: 20px;
    list-style: none;
    &__logo {
        margin-bottom: 30px;
    }
    &__txt {
        margin-bottom: 15px;
        margin-top: 15px;
        width: 100%;
    }
    &__fas1 {
        margin-right: 13px;
    }
    &__fas2 {
        margin-right: 10px;
        font-size: 13px;
    }
}

/*Menus à la carte*/

.cartehead{
    display: flex;
    flex-direction: column;
    margin-bottom: -55px;
    &__title {
        display: grid;
        grid-template-columns: repeat(1fr ,2);
    }
        &__logo {
            grid-row-start: 1;
            grid-column-start: 1;
            align-self: center;
    }
            &__link {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                grid-column-start: 1;
                grid-row-start: 1;
                align-self: center;
                margin-left: 25px;
                color: black;
                &:hover {
                    color: $violet;
                    font-size: 20px;
                }
            }
                &__img {
                    z-index: -1;
                    object-fit: cover;
                    height: 300px;
                    width: auto;
                }
}


.cartemain {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    flex-direction: column;
    &__head {
        display: flex;
        flex-direction: row;
        padding-left: 25px;
        padding-right: 25px;
        justify-content: center;
    }
        &__title {
            font-size: 25px;
            margin-top: 25px;
    }
                &__icon {
                  padding-top: 8px;
                }
                    &__underline {
                    display: block;
                    border: 1px solid $bleu;
                    width: 40px;
                    margin-top: 3px;
                    margin-left: 20px;
            }
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    &__square {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        background-color: white;
        border-radius: 15px;
        margin-top: 15px;
        height: 65px;
        width: 95%;
        max-width: 600px;
        overflow: hidden;
        @include boxshadow;
    }
        &__txt{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-left: 10px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
            &__price {
                width: 50px;
            }
                &__title {
                    max-width: 600px;
                    display: flex;
                    flex-direction: column;
                    justify-self : center;
                    align-self: center;
                }
                    &__green-square {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: translateX(100px);
                        transition-property: transform;
                        transition-duration: 750ms;
                        width: 100px;
                        height: 65px;
                        margin-left: -90px;
                        background-color: $bleu;
                    }
            }
            
.mylist {
 &:hover &__square {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transform: translateX(0px);
    }
            &__check {
                font-size: 24px;
                color: white;
                transform: rotateZ(360deg);
                transition-property: transform;
                transition-duration: 750ms;
            }
                &:hover &__check {
                    transform: rotateZ(0deg);

                }
                &__price {
                    transform: translateX(0px);
                    transition-property: transform;
                    transition-duration: 750ms;
                }
                    &:hover &__price {
                        transform: translateX(-90px);
                        margin-left: 100px;
                    }
}


/*format PC*/

@media (min-width: 992px) {

    /*Main (menus)*/

    .cartehead {
        margin-bottom: -35px;
            &__img {
                height: 400px;
            }
    }

    .cartemain {
        &__title {
            text-align: center;
            margin-top: 25px;
        }
    }

    .list__flex {
     display: flex;
     flex-direction: row;
     align-items: center;
     padding-top: 20px;
    }

    .list {
        margin-bottom: 40px;
        &__title {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        }
            &__square {
                width: 95%;
                max-width: 300px;
                align-self: center;
        }
    }

    /*Fix bug d'élargissement et entrecoupement des divs*/

    @media (min-width: 1070px) {
        .list {
            &__square {
                max-width: 350px;
            }
        }
    }
    @media (min-width: 1200px) {
        .list {
            &__square {
                max-width: 400px;
            }
        }
    }

    @media (min-width: 1365px) {
        .list {
            &__square {
                max-width: 450px;
            }
        }
    }


    /*Bas de page*/

    .footer {
        padding-left: 0;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            &__txt {
                text-align: center;
        }
                &__list {
                    height: 50px;
                }
                    &__logo {
                        font-size: 28px;
                        text-align: center;
                        margin-bottom: 0;
                    }
                        &__fas2 {
                            font-size: 18px;
                        }
}
}

/*Ecrans très larges*/



/*format tablette*/

@media (min-width: 768px) and (max-width: 992px) {
    .footer {
        padding-left: 0;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            &__txt {
                text-align: center;
        }
                &__list {
                    height: 50px;
                }
                    &__logo {
                        font-size: 28px;
                        text-align: center;
                        margin-bottom: 10px;
                    }
                        &__fas2 {
                            font-size: 18px;
                        }
}


    .list {
        &__square {
            max-width: 450px;
        }
            &__title {
                display: flex;
                flex-direction: column;
                width: 15%;
                align-self: center;
        }
    }
}
