    /*Page principale*/


    /*header*/

.logo{
    height: 30px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-self: center;
    }
    
.lieu {
    display: flex;
    flex-direction: row;
    height: 50px;
    border: none;
    background-color:#e0e0e0;
    justify-content: center;
    align-items: center;
    color: rgb(71, 71, 71);
    &__icone{
        margin-right: 15px;
        }
        &__text {
        width: 115px;
        }
    }
    
.gradiant {
    background: linear-gradient(rgb(185, 185, 185), #e0e0e0);
    height: 5px;
    }
    
    /*partie fonctionnement*/

.fonctionnement {
    display: grid;
    grid-template-columns: repeat(1, 4);
    &__title {
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: 20px;
        font-size: 22px;
    }
        &__étape {
            display: flex;
            width: 90%;
            max-width: 400px;
            justify-self: center;
            align-items: center;
            margin-bottom: 25px;
            margin-left: 10px;
            height: 70px;
            border-radius: 20px;
            @include boxshadow;
    }
            &__logo {
                margin-right: 7%;
                color: rgb(99, 99, 99);
    }
                &__pink {
                    color:$violet;
                }
}

.point {
    display: flex;
    height: 30px;
    width: 38px;
    background-color: $violet;
    color: white;
    border-radius: 50px;
    align-items: center;
    margin-left: -15px;
    margin-right: 7%;
    &__txt {
        text-align: center;
    }
}

/*parties restaurants*/

.restaurant {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 50px;
    margin-top: 30px;
    &__square {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 270px;
        border-radius: 20px;
        margin-bottom: 25px;
        justify-self: center;
        @include boxshadow;
    }
        &__link {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: black;
        }
            &__image{
                height: 200px;
                background-size: cover;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                display: flex;
                justify-content: flex-end;
        }
                &__title {
                    padding-top: 50px;
                    padding-bottom: 20px;
                    padding-left: 22px;
                }
}

.nouveau {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: $bleu;
    width: 100px;
    height: 40px;
    margin-top: 15px;
    margin-right:15px;
    padding-top: 10px;
    color: white;
    font-weight: bold;
    color :green;
}

.heart {
    align-self: flex-end;
    margin-top: -35px;
    margin-right: 20px;
}


.resto {
    background-image: url(img/restaurant1.jpg);
    &__2 {
        background-image: url(img/restaurant2.jpg)
    }
    &__3 {
        background-image: url(img/restaurant3.jpg)
    }
    &__4 {
        background-image: url(img/restaurant4.jpg)
    }
}

/*format PC*/

@media all and (min-width: 992px){

    /*Partie fonctionnement*/

.fonctionnement {
    &__title {
        margin-left: 0;
        width: 210px;
        justify-self: center;
        font-size: 26px;
    }
}

.logos {
    font-size: 20px;
    margin-right: 40px;
    margin-left: 10px;
}


    /*Partie Restaurants*/

.restaurant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
        &__title {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            width: 190px;
            justify-self: center;
        }
        &__square {
            display: flex;
            height: 370px;
            max-width: 800px;
            background-color: white;
        }
        &__image {
            height: 300px;
        }
    }
}



/*format tablette*/

@media all and (min-width: 768px) and (max-width: 992px) {
        /*partie fonctionnement*/

.fonctionnement {
    &__title {
        width: 160px;
        margin-left: 0;
        justify-self: center;
    }
}

        /*partie restaurants*/

.restaurant {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-auto-rows: minmax(100px, auto);
        &__title {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            width: 130px;
            justify-self: center;
            margin-left: 0;
        }
    }


}