/*Variables et mixines*/

$violet : #9356DC;
$rose : #FF79DA ;
$bleu : #99E2D0 ;

@mixin boxshadow {
    -webkit-box-shadow: 1px 3px 10px 0px rgba(153, 153, 153, 0.75);
    -moz-box-shadow: 1px 3px 10px 0px rgba(143, 143, 143, 0.75);
    box-shadow: 1px 3px 10px 0px rgba(133, 133, 133, 0.75);
}


/*fond gris du site*/
.greybg {
    background-color: #ececec;
}