.btn {
    width: 225px;
    height: 50px;
    background: $violet;
    background: linear-gradient(0deg, $violet 0%, $rose 100%);
    align-self: center;
    justify-self: center;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 15px;
    margin-bottom: 50px;
    margin-top: 15px;
    @include boxshadow;
    &:hover {
        background: linear-gradient(0deg,  #bb85fd 0%, #f896dc 100%);
        }
}