.lieu {
    display: flex;
    flex-direction: row;
    height: 50px;
    border: none;
    background-color:#ececec;
    justify-content: center;
    align-items: center;
    color: rgb(71, 71, 71);
    &__icone{
        margin-right: 15px;
    }
        &__text {
        width: 30%;
    }
}

.gradiant {
    background: linear-gradient(rgb(185, 185, 185), #ececec);
    height: 5px;
}