.lieu {
    display: flex;
    flex-direction: row;
    height: 40px;
    border: none;
    background-color:#b9b9b9;
    justify-content: center;
    align-items: center;
    &__icone{
        margin-right: 10px;
    }
        &__text {
        width: 30%;
        font-weight: bold;
    }
}