.lieu {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-top: 10px;
    border: none;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    &__text {
        width: 100%;
    }
}