* {
    font-family: roboto;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
}

.titres {
    font-family: shrikhand;
    &--center{
        text-align: center;
    }
}

h1 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.soustitre {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 10px;
}
