.fonctionnement {
    display: grid;
    grid-template-columns: repeat(1, 4);
    &__étape {
        display: flex;
        width: 90%;
        justify-self: center;
        align-items: center;
        margin-bottom: 15px;
        height: 70px;
        border-radius: 20px;
        @include boxshadow;
    }
}


.point {
    display: flex;
    height: 30px;
    width: 38px;
    background-color: $violet;
    color: white;
    border-radius: 50px;
    align-items: center;
    margin-left: -15px;
    margin-right: 7%;
    &__txt {
        text-align: center;
    }
}

.logos {
    margin-right: 7%;
}