$violet : #9356DC;
$rose : #FF79DA ;
$bleu : #99E2D0 ;


@mixin boxshadow {
    -webkit-box-shadow: 1px 3px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 10px 0px rgba(0,0,0,0.75);
}